body
{
	background-image:url('images/bg.gif');
}

a:link      { text-decoration:none; color:#FFF}
a:visited   { text-decoration:none; color:#FFF}
a:hover     { text-decoration:none; color:#FFF}
a:active    { text-decoration:none; color:#FFF}

img.logo
{
	padding:5px;
}

div.credits
{
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	font-size:small;

	position:absolute;
	bottom:5px;
	left:5px;
}

div.logout
{
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	font-size:small;

	position:absolute;
	top:5px;
	right:5px;
}

div.superbowl_logo
{
	position:fixed;
	bottom:0px;
	right:0px;
	z-index:-1;
}

div.content
{
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	width:1200px;
	margin:0px auto;
	text-align:center;
}

div.content_div
{
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	text-align:center;
}

div.content_faq
{
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
}

span.paid
{
	color: #329932;
}

span.AFC
{
	color: #FF0000;
}

span.NFC
{
	color: #4286f4;
}

table.header
{
	width:100%;
	border:none;
	border-collapse:collapse;
}

td.logo
{
	width:100%;
	text-align:center;
}

table.info
{
	margin:0px auto;
	width:500px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;

	font-family:Verdana, Geneva, sans-serif;
	font-size:12pt;
	font-weight: bold;
	color:#FFF;
}

table.error
{
	margin:0px auto;
	width:500px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-image:url('images/table_bg_error.png');
}

table.message
{
	margin:0px auto;
	width:500px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-image:url('images/table_bg_message.png');
}

table.grid
{
	margin:0px auto;
	width:1250px;
	height:800px;
	border:dashed thick;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;
    table-layout: fixed;

	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-image:url('images/table_bg.png');
}

td.grid_boxes
{
	margin:0px auto;
	width:100px;
	height:66px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 2px;
	background:none;
    font-size: 10pt;
}

td.grid_boxes_occupied
{
	margin:0px auto;
	width:100px;
	height:66px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 2px;
	background:none;
    font-size: 10pt;
}

td.grid_boxes_horz
{
	margin:0px auto;
	height:80px;
	border:none;
	border-style:none;
	border-color:#FFF;
	padding: 10px;
	background:url('images/top.png');
}

td.grid_boxes_vert
{
	margin:0px auto;
    width:150px;
	border:none;
	border-style:none;
	border-color:#FFF;
	padding: 10px;
	background:url('images/side.png');
    background-repeat: no-repeat;
}

td.grid_boxes_numbers
{
	margin:0px auto;
	width:100px;
	height:66px;
	padding: 10px;
}

td.grid_boxes_empty
{
	margin:0px auto;
	width:100px;
	height:66px;
	border:none;
	border-style:none;
	border-color:#FFF;
	padding: 2px;
}

td.grid_boxes_header
{
	margin:0px auto;
	width:100px;
	height:15px;
	border:none;
	border-style:none;
	border-color:#FFF;
	padding: 2px;
}

td.grid_boxes:hover
{
	margin:0px auto;
	width:100px;
	height:66px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 2px;
	background-color:#03066D;
}


td.grid_boxes_occupied:hover
{
	margin:0px auto;
	width:100px;
	height:66px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 2px;
    background-color:#863636;
}

table.generic
{
	margin:0px auto;
	width:800px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;

	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-image:url('images/table_bg.png');
}

table.login
{
	margin:0px auto;
	width:500px;
	border:dashed thin;
	border-style:dashed;
	border-color:#FFF;
	padding: 10px;

	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-image:url('images/table_bg.png');
}

td.login_label
{
	text-align:right;
}

td.login_data
{
	text-align:left;
}

/*********************/
/* OMG NEW DIV STUFF */
/*********************/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	/* margin: 1% 0 1% .5%; */
	margin: .25%
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF ELEVEN  */

.span_1_of_11 {
  width: 8.1%;
	height: 5vh;

	font-size: 1vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;

	border: dashed 1px white;
	border-style: dashed;
	color: #FFFFFF;
}

.span_1_of_11:hover {
  width: 8.1%;
	height: 5vh;

	font-size: 1vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;

	border: dashed 1px white;
	border-style: dashed;
	color: #FFFFFF;
	background-color: rgba(85, 85, 85, 0.5);


}

.span_1_of_11_header {
  width: 8.1%;
	height: 5vh;

	padding-left: 1px;
	padding-right: 1px;

  font-size: 1vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;

	color: #FFFFFF;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 100px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_11, .span_2_of_11, .span_3_of_11, .span_4_of_11, .span_5_of_11, .span_6_of_11, .span_7_of_11, .span_8_of_11, .span_9_of_11, .span_10_of_11, .span_11_of_11 {
	width: 100%;
	}
}
